#site-commerce-order-checkout-form__wrapper {
	margin-bottom: 4rem;
	max-width: 500px;
}

.site-commerce-order-checkout-form__container {
	margin-bottom: 5rem;
}

.site-commerce-order-checkout-form__title {
	font-size: 1.2em;
	font-weight: 700;
}

.site-commerce-order-checkout-form__data-policy {
	font-size: 0.8em;
	color: #898f97;
	margin-top: 1.5rem;
}

.site-commerce-order-checkout-form__btn {
	width: 100%;
	font-size: 1.2em;
	padding: 1rem;
}

.form-item-rules-site-payments-sberbank {
	font-size: 0.8em;
}

@media (min-width: 768px) {
	.site-commerce-order-checkout-form__btn {
		width: auto;
		margin: 0.5rem;
		font-size: 1.5em;
	}
}


