.checkout-details-wrapper {
  margin-bottom: 4rem;
}

.checkout-details-title {
  font-size: 1.2em;
  font-weight: 700;
  margin-bottom: 1rem;
}

.checkout-details__items {
	grid-area: checkout-details__items;
}

.checkout-details__order-information {
  grid-area: checkout-details__order-information;
}

.checkout-details {
	display: grid;
	grid-gap: 1rem;
	grid-template-areas: "checkout-details__items" "checkout-details__order-information";
}

.checkout-details__item-image {
	grid-area: checkout-details__item-image;
}

.checkout-details__item-title {
	grid-area: checkout-details__item-title;
}

.checkout-details__item-quantity {
	grid-area: checkout-details__item-quantity;
	text-align: center;
}

.checkout-details__item {
	display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: 100px 1fr 0.5fr;
  grid-template-areas: "checkout-details__item-image checkout-details__item-title checkout-details__item-quantity";
	align-items: center;
	margin: 1.5rem 0;
	border-bottom: 1px solid #f5f5f2;
}

@media only screen and (min-width: 768px) {
	.checkout-details__item {
		grid-template-columns: 150px 1fr 0.5fr;
		grid-template-areas: "checkout-details__item-image checkout-details__item-title checkout-details__item-quantity";
  }
}

@media only screen and (min-width: 1200px) {
	.checkout-details {
    grid-template-columns: 3fr 1.5fr;
    grid-gap: 4rem;
		grid-template-areas: "checkout-details__items checkout-details__order-information";
	}
}

@media only screen and (min-width: 1400px) {
	.checkout-details {
    grid-template-columns: 3fr 1fr;
    grid-gap: 4rem;
		grid-template-areas: "checkout-details__items checkout-details__order-information";
	}
}
