{{ attach_library('site_commerce_order/checkout_details') }}

<div class="checkout-details-wrapper">
	<div class="checkout-details-title">{{ 'Order structure'|t }}</div>
	<div class="checkout-details">
		<div class="checkout-details__items">
			{% for cid, data in products %}
				<div id="checkout-details__item-{{ cid }}" class="checkout-details__item">
					<div class="checkout-details__item-image">
						<img class="checkout-details__image" src="{{ data.image_url }}"/>
					</div>

          <div class="checkout-details__item-title">
						<a class="cart__item-link" href="{{ data.url }}">{{ data.title }}</a>
					</div>

          <div class="checkout-details__item-quantity">
						{{ data.quantity_cart }} {{ data.quantity_unit }}
					</div>
				</div>
			{% endfor %}
		</div>
		<div class="checkout-details__order-information">
			{{ content }}
		</div>
	</div>
</div>
