{# Enabling the order information design library #}
{{ attach_library('site_commerce_order/checkout_order_information') }}

<div class="checkout-order-information">
	<div class="checkout-order-information__preloader"></div>

	{# Блок с заголовком #}
	<div class="checkout-order-information__header">
		<div class="checkout-order-information__header-title">{{ 'Your order'|t }}</div>
		<div class="checkout-order-information__header-value">
		  <a href="{{ path('site_commerce_cart.cart_page') }}">{{ 'to change'|t }}</a>
    </div>
	</div>

	{# Блок с информацией об итоговой стоимости #}
	<div class="checkout-order-information__order-cost">
		<div class="checkout-order-information__order-cost-title">{{ 'Total price'|t }}</div>
		<div class="checkout-order-information__order-cost-value">
		  {{ order_cost }} <span class="checkout-order-information__order-cost-currency checkout-order-information__order-cost-currency__{{ default_currency_code|lower }}">{{ symbol }}</span>
		</div>
	</div>
</div>
