<div class="site-commerce-order-user-orders-dashboard">
{% if orders is empty %}
  <div class="site-commerce-order-user-orders-dashboard__empty-orders">
    {{ 'You do not have any active orders.'|t }}
  </div>
  <a class="button site-commerce-order-user-orders-dashboard__link" href="/{{ catalog_url }}">
    <i class="fas fa-shopping-bag"></i>&nbsp;{{ 'To begin shopping'|t }}
  </a>
{% else %}
  {% for key, item in orders %}
    <div data-link="{{ path('site_commerce_order.view', {'order_uuid': item.order_uuid}) }}" class="site-commerce-order-user-orders-dashboard__item">
      <div class="site-commerce-order-user-orders-dashboard__title">Заказ № {{ key }} на {{ item.number }} {{ item.symbol }}</div>
    </div>
  {% endfor %}
{% endif %}
</div>
